.urgent-consult {
    padding-top: 50px;
    padding-bottom: 50px;
}

.urgent-container {
    display: flex;



    &__item {
        flex-basis: 45%;
    }

    &__item:nth-child(2) {
        margin-left: 25px;
    }

    &__title {
        width: 100%;
        display: flex;
        align-items: center;
        color: #e52707;
        text-transform: uppercase;
        font-size: 1.4rem;
        margin-bottom: 35px;

        img {
            max-width: 80px;
            margin-top: -8px;
        }
    }

    &__list {
        li {
            margin-top: 15px;
        }
    }

    .list-bold {
        font-weight: 700;
    }
}

@media (max-width: 495px) {
    .urgent-container {
        align-items: center;

        &__item {
            flex-basis: 100%;
            font-size: 1.1rem;
        }

        &__item:first-child {
            display: none;
        }

        &__title {
            img {
                max-width: 50px;
            }
        }
    }
}

@media (max-width:375px) {
    .urgent-container {
        &__title {
            font-size: 1.2em;
        }
    }
}

#urgent-form-container {
    display: none;
}

.urgent-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    background-color: #fff;
    border: 1px solid $main-blue;
    padding: 25px;
    position: relative;
    font-size: 0.9rem;

    &__title {
        background-color: $main-blue;
        color: #fff;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        position: absolute;
        max-width: 500px;
        left: 0;
        right: 0;
        top: 0;
    }

    &__first-point {
        font-weight: 700;

        ul {
            margin-top: 25px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                background-image: url(../img/step/step1.png);
                background-size: contain;
                background-repeat: no-repeat;
                width: 80px;
                height: 80px;
                top: -20px;

            }
        }
    }

    &__span-num {
        display: block;
        font-weight: 700;
        margin-top: 50px;
        margin-bottom: 50px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            background-image: url(../img/step/step2.png);
            background-size: contain;
            background-repeat: no-repeat;
            width: 90px;
            height: 90px;
            top: -20px;

        }
    }

    .first-point-title {
        display: block;
        margin-top: 20px;
        margin-bottom: 15px;
        color: #aba5a5;
    }

    &__text {
        margin-top: 100px;
    }

    &__text-offer {
        display: inline-block;
        margin-top: 50px;
        margin-bottom: 50px;

        span {
            font-size: 0.9rem;
            line-height: 1;
        }

    }

    .main-btn {
        a {
            display: block;
            margin: 0 auto;
        }
    }
}

@media (max-width: 566px) {
    .urgent-form {
        .first-point-title {
            margin-top: 50px;
        }

        &__text-offer {
            margin-top: 25px;
            margin-bottom: 25px;
        }
    }
}